body,
.app {
  height: 50%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
}

h1 {
  font-size: 40px;
  font-family: sans-serif;
  text-align: center;
}

.container {
  text-align: left;
}

form {
  display: flex;
  align-items: left;
  margin-left: 80px;
}

footer {
  margin-top: 20px;
  text-align: center;
}